<% layout("/layouts/boilerplate.ejs") %>

<div>
    <div class="alert alert-danger col-7 offset-2" role="alert">
        <h2>ERROR</h2>
        <h4><%= err.message %></h4>
      </div>

</div>